
<div class="m-list">
    <div class="alphabet">
      <div class="btn-toolbar">   
        <div class="btn-group btn-group-sm">
          <div class="btn btn-default">SEARCH BY NAME:</div>
          <button (click)="SearchByCharacter('A')" class="btn btn-default">A</button>
          <button (click)="SearchByCharacter('B')" class="btn btn-default">B</button>
          <button (click)="SearchByCharacter('C')" class="btn btn-default">C</button>
          <button (click)="SearchByCharacter('D')" class="btn btn-default">D</button>
          <button (click)="SearchByCharacter('E')" class="btn btn-default">E</button>
          <button (click)="SearchByCharacter('F')" class="btn btn-default">F</button>
          <button (click)="SearchByCharacter('G')" class="btn btn-default">G</button>
          <button (click)="SearchByCharacter('H')" class="btn btn-default">H</button>
          <button (click)="SearchByCharacter('I')" class="btn btn-default">I</button>
          <button (click)="SearchByCharacter('J')" class="btn btn-default">J</button>
          <button (click)="SearchByCharacter('K')" class="btn btn-default">K</button>
          <button (click)="SearchByCharacter('L')" class="btn btn-default">L</button>
          <button (click)="SearchByCharacter('M')" class="btn btn-default">M</button>
          <button (click)="SearchByCharacter('N')" class="btn btn-default">N</button>
          <button (click)="SearchByCharacter('O')" class="btn btn-default">O</button>
          <button (click)="SearchByCharacter('P')" class="btn btn-default">P</button>
          <button (click)="SearchByCharacter('Q')" class="btn btn-default">Q</button>
          <button (click)="SearchByCharacter('R')" class="btn btn-default">R</button>
          <button (click)="SearchByCharacter('S')" class="btn btn-default">S</button>
          <button (click)="SearchByCharacter('T')" class="btn btn-default">T</button>
          <button (click)="SearchByCharacter('U')" class="btn btn-default">U</button>
          <button (click)="SearchByCharacter('V')" class="btn btn-default">V</button>
          <button (click)="SearchByCharacter('W')" class="btn btn-default">W</button>
          <button (click)="SearchByCharacter('X')" class="btn btn-default">X</button>
          <button (click)="SearchByCharacter('Y')" class="btn btn-default">Y</button>
          <button (click)="SearchByCharacter('Z')" class="btn btn-default">Z</button>
        </div>
      </div>
    </div>
</div>



<div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let p of products">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" width="400px;" src="{{p.image}}" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{p.name}}</a>
          </h4>
          <h5>${{p.price}}</h5>
          <p class="card-text">{{p.description}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>

  </div>

