.m-list{
    margin-top: 55px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: -5%;
    margin-bottom: 10%;
}


  /*Topsales*/
  
 
  
  
  #proname a{
    font-weight: 600;
      color: #2E2E2E;
      margin: 0 0 1em;
      display: block;
    width:80%;
      margin:0 auto 0.5em;
  }
  #proname a:hover{
    text-decoration:none;
      color:#47c9af;
  }
  
  /*MENU*/
  
  
  
  
  /*search*/
  
  
  /*ContactUs*/
  #contactus
  {
    width: 350px;
    height: 500px;
    color: black;
    border: 1px solid gainsboro;
    border-radius: 3px;
    position:absolute;
    left:38%;
    top:25%;
    background-color: #fff;
  
  }
  
  
  #contact
  {
    width: 100%;
    height: 450px;
  
    background-color:  #272723;
  }
  
  
  
  /*SignIn*/
  
  
  
  
  
  
 
  
  
  .alphabet {
    position: relative;
    z-index: 1;
   
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
  
  
  
  /*some*/
  #c-us
  {
      width: 300px;
      height: 30px;
      margin-left: 25px;
      margin-top: 20px;
      text-align: start;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      font-size:12px;
      color: gray;
  }
  #c-us-text
  {
      width: 300px;
      height: 150px;
      padding-bottom: 10px;
      margin-left: 25px;
      margin-top: 20px;
      font-size: 12px;
      color:gray;
      padding-left: 10px;
  }
  ::-webkit-input-placeholder {
      color: gray;
      font-size: 15px;
      font-family: fantasy;
  
  
  }
  #sub-mit
  {
      width:300px;
      height: 50px;
      padding-bottom: 10px;
  
      margin-left: 25px;
      margin-top: 20px;
      font-size: 20px;
      color:gray;
      background-color: #47c9af;
  }
  
  /*SilderImage*/
  .m-car{
    width: 100%;
    height: 1000px;
    box-shadow: 0 0 1em rgba(136, 135, 135, 0.57);
  }
  .c-c
  {
    margin-top: 25px;
    
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 13%;
    width: 1000px;
}