
<div>
    <div class="m-cat">
        <div class="col-md-3">
        <div class="list-group" *ngFor="let c of categories">
          <a (click)="getCategoryProducts(c)" class="list-group-item list-group-item-action">{{c.name}}</a>
        </div>
        </div>
      </div>
      <ng-container>
          <div id="topsales">
              <div class="product" *ngFor="let p of products">
                <a class="product-here" href="single-page.html"><img src="{{p.image}}" title="product-name" style="height: 210px;width: 170px;" /></a>
                <h4 id="proname"><a href="single-page.html">{{p.name}}</a></h4>
                <a class="product-btn" href="single-page.html"><span>{{p.price}} тг</span><small>Купить</small><label> </label></a>
              </div>
            </div>
      </ng-container>
</div>

