<div class="glav">
  <div id="contactus">
        <h1 style="margin-top: 30px;color:gray;margin-left: 20px;font-size: 28px;margin-bottom: 40px;font-family: fantasy;">Связитесь с нами</h1>
        <input id ="c-us" type="text" placeholder=" Your name" [(ngModel)]="name">
        <input id ="c-us" type="mail" placeholder=" Your email" [(ngModel)]="email">
        <input id ="c-us" type="tel" placeholder=" Phone Number" [(ngModel)]="phone">
        <input id ="c-us-text" type="text" placeholder=" Your Message" [(ngModel)]="message">
        <button type="submit" id="sub-mit" (click)="sendContact()" >Submit</button>
  </div>


</div>
